.panel {
  width: 580px;
  background-color: #fffdfd;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 2px #1c274c;
  background-image: url("../../assets/images/Logo-pause.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 140px top;
  padding: 6px 155px 6px 12px;
  display: grid;
  grid-template-columns: 64px 340px;
  grid-gap: 8px;
  justify-items: center;
  align-items: center;
}

:global(.playing) .panel {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-image: url("../../assets/images/Logo-play.svg");
}

:global(.playing) .prevIcon *,
:global(.playing) .nextIcon * {
  stroke: #1c274c;
}

:global(.playing) .playPauseIcon * {
  stroke: #000000;
}

:global(.playing) .playPauseIcon :global(.triangle) {
  fill: #000000;
}
