.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s box-shadow;
}

.button:hover {
  box-shadow: 0px 0px 8px 2px #1c274c;
}

.s {
  width: 24px;
  height: 24px;
}

.m {
  width: 54px;
  height: 54px;
}

.l {
  width: 64px;
  height: 64px;
}

.round {
  border-radius: 50%;
  background-color: rgba(12, 182, 115, 0.30);
}

:global(.playing) .round {
  background-color: rgba(5, 172, 106, 0.30);
}

@media screen and (max-width: 450px) {
  .m {
    width: 34px;
    height: 34px;
  }

  .m svg {
    width: 24px;
  }

  .l {
    width: 45px;
    height: 45px;
  }

  .l svg {
    width: 34px;
  }
}
