.cover {
  position: absolute;
  width: 320px;
  height: 320px;
  right: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.animation {
  animation: 1s cover-rotation infinite linear paused;
}

:global(.playing) .animation {
  animation-play-state: running;
}

@keyframes cover-rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 780px) {
  .cover {
    display: none;
  }
}
