.volume {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 0 12px;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.range::-webkit-slider-runnable-track {
  height: 2px;
  background: var(--volume-value);
}

.range::-webkit-slider-thumb {
  background: #05ac6a;
  border-radius: 50%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
  border: none;
  margin-top: -5px;
}

.range::-moz-range-track {
  height: 2px;
  background: var(--volume-value);
}

.range::-moz-range-thumb {
  background: #05ac6a;
  border-radius: 50%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: none;
}

:global(.playing) .volumeCrossIcon *,
:global(.playing) .volumeLoudIcon * {
  stroke: #1c274c;
}
