.app {
  background-color: #e3e3e3;
  min-height: 100vh;
  background-image: url("../assets/images/background-pause.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playing {
  background-image: url("../assets/images/background-play.svg");
}
